
/* 
==========================
    Global Style
========================== 
*/
body{
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-weight: 900;
}
p{
    font-size: 18px;
}
button:focus{
    border: none;
}



/* 
==========================
    Navbar  Style
========================== 
*/
Header{
    background-image: linear-gradient(to right, #f04126, #f7892b,  #f04126 );
    /* background-color:#f04326; */
}

.navbar .logo{
    width: 180px;
}

.fuel-nav .navbar-toggler{
    border: none;
}

.fuel-nav .navbar-toggler i{
    font-size: 28px;
    color: white;
}

.fuel-nav .navbar-toggler:focus{
    box-shadow: none;
}

.fuel-nav .navbar-nav .nav-item .nav-link{
    color: white;
}

.fuel-nav .navbar-nav .nav-item .nav-link:hover{
    color: lightgray;
    border-bottom: 1px solid white;
}

.fuel-nav .navbar-nav .nav-item .active{
    color: lightgray;
    border-bottom: 1px solid white;
}

.nav-sign-in,
.nav-sign-up{
    border: 2px solid white;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 4px 25px 4px 25px ;
    transition: 0.8s;
}

.nav-sign-up:hover{
    color: #f04326;
    background-color: white;
}


.navbar-nav a{
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-right: 30px;
    
}
.nav-login, .nav-logout{
    border: 2px solid white;
}

 /* Navbar Search Style */
.search{
    padding-top: 5px;
}

.search-input{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    margin-right: 30px;
}
.search input:focus{
    color: white;
    border: 0px;
}
.search-icon{
    color: white;
}

/* End Navbar Search  Style */

/* 
==========================
    Hero Section   Style
========================== 
*/

.hero-section{
    margin-top: 50px;
}
.hero-content {
    padding-top: 100px;
    padding-bottom: 50px;
    color: white;
}
.hero-section img{
    width: 90%;
    height: 90%;
    margin-left: 120px;
}
.hero-content h1{
    font-size: 60px;
    font-weight: 900;
}

.hero-content h5{
    margin-top: -5px;
    margin-bottom: 30px;
}

.hero-btn{
    border: 2px solid white;
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 8px 20px 8px 20px ;
    margin-top: 30px;
    transition: 0.8s;
}
.hero-btn:hover{
    color: tomato;
    background: white;
}

/* End Hero Section Style */

/* 
==========================
    Logos Section   Style
========================== 
*/
.logos-section{
    background-color: lightgray;
}
.customer-logos{
    display: flex;
    padding: 30px 10px 30px 10px;

}
.customer-logos  img{
    width: 150px;
}

/* End Logo Section Style */

/* 
==========================
    Fuel Intro Section   Style
========================== 
*/
.fuel-intro{
    background: white;
    /* padding-left: 150px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
}

.fuel-intro .card img{
    width: 200px;
    height: auto;
}
.fuel-intro .delivery{
    padding-top: 260px;
}

.fuel-card{
    text-align: center;
    border: none;
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
}
.fuel-card h1{
    color: #F97A1E;
    text-transform: uppercase;
}
 /* hero section button and login signup button active style */
.btn-active{
    background: white;
    color: red;
    margin-right: 20px;
}

.btn-active:hover{
    color: white;
    background: #f04126;
}

/* End Fuel Intro Section Style */

/* 
==========================
    Service  Section   Style
========================== 
*/
.service-section{
    background-color: #1F1F1F;
    padding-top: 50px;
    padding-bottom: 50px;
}
.service-section h1{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
.service-card{
    text-align: center;
    color: white;
    background-color: #1F1F1F;
    margin: 30px;
    border:none
}
.service-card img{
    width: 150px;
    height: 120px;
}
.service-card h2{
    font-weight: bold;
    text-transform: uppercase;
}

/* End Service Section Style */

/* 
==========================
    About  Section   Style
========================== 
*/

.about-section{
    background-image: url('../images/wave1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;
    padding-top: 30px;
    padding-bottom: 400px;
}
.about-card{
    padding-top: 60px;
    margin-top: 50px;
    background: transparent;
    border: none;
}

.about-card img{
    width: 70px;
    height: auto;
}

.about-card .card-body{
    margin-left: 5px;
}
.social-icon img,
.fuel-contact img{
    width: 30px;
    height: 65px;
    margin-right: 8px;
}

.about-card h2{
    margin-top: -5px;
    font-weight: bold;
}
.about-card h4{
    font-weight: 500;
}
.about-section h1{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 30px;
}


/* End About  Section Style */

/* 

==========================
    Dashboard  Section   Style
========================== 
*/

.dashboard-section img{
    width: 100%;
}
.dashboard-section{
    padding-bottom: 50px;
}
.dashboard-content.text-right {
    padding-top: 75px;
    padding-left: 30px;
}
.dashboard-section h1{
    text-transform: uppercase;
}
.dashboard-section p{
    font-weight: 400;
    font-size: 20px;
}
/* End dashboard Section Style */

/* 
==========================
    Counter  Section   Style
========================== 
*/
.counter-card{
    background:transparent;
    border: none;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
.counter-section{
    background-image: linear-gradient(to right, #f7892b , #f04126);
    background-repeat: no-repeat;
    background-size: cover;
}
.counter-card h1{
    font-size: 50px;
    font-weight: bold;
}
/* counter  Section Style */



/* 
==========================
    Testimonial  Section   Style
========================== 
*/

.testimonial-section{
    padding-top: 100px;
    padding-bottom: 50px;
}
.testimonial{
    text-align: center;
}
.testimonial-section h1{
    font-weight: 900;
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.testimonial .testimonial-content{
    padding: 30px 50px;    
    background-image: linear-gradient(to right, #f7892b , #f04126);
    border-radius: 100px 0;
    position: relative;
    margin: 0 10px 35px;
    margin-top: 60px;
    height: auto;
}

.testimonial .description{
    font-size: 16px;
    color: #fdfffc;
    line-height: 25px;
    margin: 0;
    padding-top: 40px;
}
.testimonial .pic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 6px solid #f7892b;
    margin: 0 auto 15px;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top:0px;
    right: 40%;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .testimonial-title{
    display: block;
    font-size: 17px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 10px;
}
.testimonial .post{
    color: white;
    font-size: 16px;
}

.prev-slide .prev-icon i{
    color: #f04126;
    font-size: 60px;
    position: absolute;
    right: 110%;
    bottom: 40%;
}
.next-slide .next-icon i{
    color: #f04126;
    font-size: 60px;
    position: absolute;
    left: 110%;
    bottom: 40%;
}


/* Testimonial  Section Style */

/* 
==========================
    FAQ  Section   Style
========================== 
*/
.faq-section img{
    width: 80%;
}
.faq-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.faq-section h1{
    font-weight: 400;
    font-size: 48px;
    padding-bottom: 20px;
}
.faq-section span{
    font-weight: bold;
}
.faq-section .faq-btn{
    background-image: linear-gradient(to right, #f7892b , #f04126);
    border: none;
    padding: 8px 40px 8px 40px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    margin-top: 30px;
    color: white;
}
.faq-content .accordion-button{
    font-size: 18px;
    border-top: 1px solid gray;
}

.faq-content .remove-border{
    border-top: none;
}

.faq-content .accordion-item{
    border: none;
}
.faq-content .accordion-body{
    font-size: 18px;
}

.faq-content{
    padding-top: 100px;
}
/* End faq Section Style */

/* 
==========================
    Footer  Section   Style
========================== 
*/
Footer{
    background:#1F1F1F;
    color: white;
    padding-top: 60px;
    padding-bottom: 20px;
}
Footer img{
    width: 200px;
    padding-bottom: 20px;
}
Footer .footer-btn{
    border: 1px solid gray;
    background-image: linear-gradient(to right, #f7892b , #f04126);
    font-size: 18px;
    font-weight: 600;
    color:white;
    padding: 8px 20px 8px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
Footer .footer-btn:hover{
    background-image: linear-gradient(to right, #b45604 , #d36554);
    color:lightgray;
}
Footer .subscribe-input{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 8px 0px 8px 10px;
    margin-left: -10px;
}
Footer .social-icon{
    margin-top: 20px;
}
.social-icon ul{
    display: flex;
}
ul li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
ul li a{
    text-decoration: none; 
}
.team-card .social-icon {
    margin-top: -20px;
}

.footer-menu-link h5{
    font-weight: 600;
    padding-top: 10px;
}
.footer-menu-link ul li a{
    color: lightgray;
    font-size: 16px;
}
.footer-menu-link ul li a:hover{
    color: white;
}
.footer-menu-link li{
    margin-top: 7px;
}

.footer-copyright{
    text-align: center;
    padding-top: 40px;
    color: lightgray;
    font-size: 16px;
}

/* End Footer  Style */

/* 
==========================
    About Us Page Style
========================== 
*/
.about-header{
    background-image: url('../images/wave.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.about-title h1 {
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    padding-top: 100px;
    text-transform: uppercase;
    color: white;
    
}

.about-intro img{
    width: 50%;
    text-align: right;
}
.about-fuel-content{
    padding-top: 120px;
}
.about-intro{
    padding-bottom: 80px;
}
.portfolio img{
    width: 100%;
    height: 400px;
}
.portfolio-content h1{
    font-weight: 900;
}
.portfolio-content{
    background-color: #1F1F1F;
    color: white;
    height: 400px;
    text-align: right;
    padding-right: 40px;
    padding-left: 80px;
    padding-top: 150px;
}
.fuel-history,
.fuel-vision{
    background-image: linear-gradient(to right, #f7892b , #f04126);
    text-align: center;
    padding: 80px 150px 80px 150px;
    color: white;
}
.fuel-history h1,
.fuel-vision h1{
    font-weight: 900;
    font-size: 50px;
    padding-bottom: 30px;
}
.fuel-vision{
    background-image: linear-gradient(to right, #1f1f1f , #1f1f1f);
}
.fuel-team{
    padding-top: 100px;
    padding-bottom: 50px;
}
.team-card{
    margin-top: 40px;
}
.fuel-team h1{
    padding-bottom: 20px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
}
.fuel-team img{
    border-radius: 15px;
}
.fuel-team .team-card{
    border: none;
}
.fuel-team .team-card .card-body{
    margin: 0;
    padding: 0;
}
.fuel-team .team-card .card-body h5{
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
}
.fuel-team .team-card .card-body h6{
    font-size: 16px;
    margin-top: -8px;;
}
.no-gutters{
    padding: 0;
}

/* 
==========================
    Style Responsive Design 
========================== 
*/

/* Small OR Mobile Device Responsive  */

@media (max-width: 480px){
    #navbarNav{
        text-align: right;
    }
    .fuel-nav .navbar-nav .nav-item .nav-link:hover{
        border-bottom: 0px;
    }
    .fuel-nav .navbar-nav .nav-item .active{
        border-bottom: 0px;
    }
    .registration{
        margin-top: 20px;
    }
    .hero-content{
        padding-top: 30px;
    }
    .hero-content h1{
        font-size: 50px;
    }
    .fuel-card{
        padding-right: 50px;
        padding-left: 50px;
    }
    .fuel-intro .delivery{
        padding-top: 60px;
    }
    .customer-logos{
        overflow: hidden;
    }
    .about-card .card-body{
        text-align: center;
    }
    .about-card{
        padding-top: 30px;
        margin-top: 20px;
    }
    .about-card img {
        height: 100px;
    }
    .prev-slide .prev-icon i{
        font-size: 20px;
        color: #f04126;
        background-color: white;
        padding: 10px;
        position: absolute;
        right: 40%;
        bottom: 50%;
    }
    .next-slide .next-icon i{
        color: #f04126;
        font-size: 20px;
        background-color: white;
        padding: 10px;
        position: absolute;
        left: 40%;
        bottom: 50%;
    }
    .faq-content{
        text-align: center;
    }
    .faq-section img{
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .dashboard-section{
        margin-top: -60px;
    }
    
    .footer-menu-link{
        margin-top: 10px;
        padding-bottom: 10px;
        padding-left:8px;
    }
    

    /* about us page responsive  */

    .about-title h1{
        font-size: 50px;
    }
    .about-fuel-content{
        padding-top: 10px;
        text-align: center;
    }
    .about-fuel-content img{
        margin-top: 70px;
    }
    .fuel-history,
    .fuel-vision{
        padding: 60px 10px 60px 10px;
    }
    .fuel-history h1,
    .fuel-vision h1{
        font-size: 40px;
    }
    .portfolio-res-order{
        order: -1;
    }
}


/* Medium Size  Mobile Device Responsive  */

@media(min-width: 481px) and (max-width: 768px){
    #navbarNav{
        text-align: right;
    }
    .fuel-nav .navbar-nav .nav-item .nav-link:hover{
        border-bottom: 0px;
    }
    .fuel-nav .navbar-nav .nav-item .active{
        border-bottom: 0px;
    }
    .registration{
        margin-top: 20px;
    }
	.hero-content{
        padding-top: 30px;
    }
    .hero-content h1{
        font-size: 50px;
    }
    .fuel-card{
        padding-right: 50px;
        padding-left: 50px;
    }
    .fuel-intro .delivery{
        padding-top: 60px;
    }
    .customer-logos{
        overflow: hidden;
    }
    .about-card .card-body{
        text-align: center;
    }
    .about-card{
        padding-top: 30px;
        margin-top: 20px;
    }
    .about-card img {
        height: 100px;
    }
    .prev-slide .prev-icon i{
        font-size: 20px;
        color: #f04126;
        background-color: white;
        padding: 10px;
        position: absolute;
        right: 40%;
        bottom: 50%;
    }
    .next-slide .next-icon i{
        color: #f04126;
        font-size: 20px;
        background-color: white;
        padding: 10px;
        position: absolute;
        left: 40%;
        bottom: 50%;
    }
    .faq-content{
        text-align: center;
    }
    .faq-section img{
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .footer-menu-link{
        margin-top: 10px;
        padding-bottom: 10px;
        padding-left:8px;
    }
    .fuel-contact{
        padding-top: 20px;
    }
    .dashboard-section{
        margin-top: -60px;
    }

    /* about us page responsive  */
    .about-title h1{
        font-size: 50px;
        padding-top: 50px;
    }
    .about-fuel-content{
        padding-top: 10px;
        text-align: center;
    }
    .about-fuel-content img{
        margin-top: 70px;
    }
    .fuel-history,
    .fuel-vision{
        padding: 60px 10px 60px 10px;
    }
    .fuel-history h1,
    .fuel-vision h1{
        font-size: 40px;
    }
    .portfolio-res-order{
        order: -1;
    }
}

/* Tablet  Device Responsive  */

@media(min-width: 768px) and (max-width: 993px){
    h1{
        font-size: 40px;
    }
    #navbarNav{
        text-align: right;
    }
    .fuel-nav .navbar-nav .nav-item .nav-link:hover{
        border-bottom: 0px;
    }
    .fuel-nav .navbar-nav .nav-item .active{
        border-bottom: 0px;
    }
    .hero-content{
        padding-top: 30px;
    }
    .hero-content h1{
        font-size: 45px;
    }
    .hero-section img{
        width: 90%;
        height: 90%;
    }
    .fuel-card{
        padding-right: 50px;
        padding-left: 50px;
    }
    .customer-logos{
        overflow: hidden;
    }
    .counter-section h1{
        font-size: 40px;
    }
    .about-card .card-body{
        margin-left: 5px;
    }
    .faq-section img{
        width: 100%;
        margin-top: 120px;
        padding-bottom: 0px;
    }
    .faq-section h1{
        font-size: 40px;
    }
    .footer-menu-link{
        margin-top: 10px;
        padding-bottom: 10px;
        padding-left:8px;
    }
    .fuel-contact{
        padding-top: 20px;
    }
    
    .registration{
        margin-top: 20px;
    }
    .dashboard-section{
        margin-top: -10px;
    }
    .dashboard-section img{
        margin-top: 100px;
    }
    .social-icon{
        padding-bottom: 20px;
    }
    /* about us page responsive  */
    .about-title h1{
        font-size: 60px;
    }
    .about-fuel-content{
        padding-top: 10px;
        text-align: center;
    }
    .about-fuel-content img{
        margin-top: 70px;
    }
    .fuel-history,
    .fuel-vision{
        padding: 60px 10px 60px 10px;
    }
    .fuel-history h1,
    .fuel-vision h1{
        font-size: 40px;
    }
}

/* Large Device Device Responsive  */

@media(min-width: 994px) and (max-width: 1200px){
	
}

    